/* 字体声明 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

.style-red {
    color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.shortcut .arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 6px;
}

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;

}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png);
    font-size: 0;
}

.header .search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.header .search button {
    float: left;
    width: 80px;
    height: 33px;
    background-color: #b1191a;
    font-size: 16px;
    color: #ffffff;
}

.hotword {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotword a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.shopcar::before {
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 5px;
    color: #b1191a;
}

.shopcar::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 10px;
}

.count-car {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
    background-color: #e60012;
    color: #fff;
}

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    height: 45px;
    width: 210px;
    background-color: #b1191a;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.dropdown .dd {
    width: 210px;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}

.dropdown .dd ul li:hover {
    background-color: #fff;
    color: #c81623;
}

.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 0;
    font-family: 'icomoon';
    content: '\e920';
    font-size: 14px;
    color: #fff;
    padding-right: 10px;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd ul li:hover a {
    color: #c81623;
}

.nav .navitems {
    float: left;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
}

.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod-service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.mod-service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 35px;
}

.mod-service ul li .icon {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 8px;
    background: url(../images/icons.png) no-repeat -252px -3px;
    margin-right: 8px;
}

.mod-service ul li h5 {
    font-size: 14px;
}

.mod-service ul li h4 {
    font-size: 12px;
}

.mod-help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    padding-left: 50px;
}

.mod-help dl {
    float: left;
    width: 200px;
}

.mod-help dl:last-child {
    width: 90px;
    text-align: center;
}

.mod-help dl dt {
    margin-bottom: 10px;
    font-size: 16px;
}

.mod-help dl dd {
    font-size: 14px;
}

.mod-copyright {
    text-align: center;
    padding-top: 20px;
}
.mod-copyright .links {
    margin-bottom: 15px;
}

.mod-copyright .links a {
    margin: 0 3px;
}


.mod-copyright .copyright {
    line-height: 20px;
}